<!DOCTYPE html>
<html>
    <head>
        <title> Student registration </title>
    </head>
    <body>
        <h2>Student registration form</h2>
        <form action="/register" method="post">
            <label>name:</label><br>
            <input type="text" name="name" required><br><br>
            <label>student_id</label><br>
            <input type="text" name="student_id" required><br><br>
            <label>email:</label><br>
            <input type="email" name="email" required><br><br>
            <label> year</label><br>
            <input type="text" name="year" required><br><br>
            <input type="submit" value="register">
        </form>
    </body>
</html>